@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.login-reg {
    background-image: url(/imagenes/Fondo_signin_pc.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.login-reg2 {
    background-image: url(/imagenes/books.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: -mozt-available;
    height: -webkit-fill-available;
}

.landing {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo {
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 151, 237);
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    width: 40%;
    height: auto;
    position: absolute;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.subt {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.logeo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background: rgba(255, 255, 255, 0.7);
}

.tit-seccion {
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 81, 114);
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.seccion {
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 81, 114);
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    padding-left: 15px;
}

.form {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    border-radius: 25px;
    border-style: none;
    padding: 8px 18px;
    margin-bottom: 7px;
    margin-top: 7px;
    background-color: rgb(39, 237, 207);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form:focus {
    outline: 0px;
    border: 1px #0089a2;
    border-style: solid;
    border-radius: 25px;
}


/*BOT INICIAR=================================================*/

.botIniciar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inic {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #0099ff;
    border: 2px;
    border-radius: 12px;
    padding: 8px 18px;
    color: aliceblue;
    margin-top: 15px;
}

.inic:hover {
    background-color: rgb(2, 81, 114);
}

.inic:focus {
    outline: 0px;
}

.inic:active {
    background-color: rgb(0, 146, 199);
    color: rgb(255, 255, 255);
}

.inic a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.inic a:visited {
    color: rgb(255, 255, 255);
}

.inic a:hover {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.recomendacion p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(2, 81, 114);
}

.recomendacion p:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(175, 0, 0);
    cursor: pointer;
}


/*BOT REGISTRO=================================================*/

.botRegistro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#toRegistro {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(2, 81, 114);
    cursor: pointer;
    border: 2px;
    border-radius: 15px;
    padding: 8px 18px;
    margin-top: 15px;
    border: 2px rgb(2, 81, 114);
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

#toRegistro:hover {
    color: rgb(0, 183, 255);
    border: 2px rgb(0, 183, 255);
    border-style: solid;
}

#toRegistro:active {
    color: rgb(0, 146, 204);
    border: 2px rgb(0, 146, 204);
    border-style: solid;
}

#toRegistro:focus {
    outline: 0px;
}

 ::-webkit-scrollbar {
    width: 6px;
    background: rgb(0, 0, 0);
}

 ::-webkit-scrollbar-track {
    background-color: #ffffff;
}

 ::-webkit-scrollbar-thumb {
    background: #424242;
}

form {
    display: flex;
    flex-direction: row;
}

.formLog {
    display: flex;
    flex-direction: column;
}


/*  TELEFONOS ====================================================================== */

@media only screen and (max-width: 655px) {
    .login-reg {
        background-image: url(/imagenes/Fondo_signin.jpg);
        background-position: center;
        margin: 0px;
    }
    .login-reg2 {
        background-image: url(/imagenes/Fondo_signup.jpg);
        background-position: center;
        margin: 0px;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .landing {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 90px;
    }
    .logeo {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        background: rgba(255, 255, 255, 0);
    }
    .logotipo {
        font-family: 'Montserrat', sans-serif;
        font-size: 0px;
        text-align: center;
        width: 60%;
    }
    .flotante {
        position: fixed;
        bottom: 5%;
        right: 0px;
        cursor: pointer;
        width: 15%;
        height: auto;
        box-shadow: 0px -5px 11px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        margin-right: 8px;
    }
    .menu {
        top: 0px;
    }
}